<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name ="Automation">
<parameter name="Username" value="preethi@rcb.com"></parameter>
<parameter name="password" value="Vik@s123"></parameter>
<parameter name="browser" value="chrome"></parameter>



<test name="Salesforce">
<classes>

<class name="com.training.testcase.AccountTest"/>

</classes>

</test>
</suite>